@use '../utils/mixin' as *;

.about-us {
  font-family: 'Menrope', sans-serif;
  background-color: #fcfaef;

  margin-bottom: 96px;

  @include onTablet {
    margin-bottom: 120px;
  }



  &__image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 48px;
    display: block;
    aspect-ratio: 16 / 9;

    margin-bottom: 48px;

    @include onTablet {
      height: 400px;
      margin-bottom: 120px;
    }

    @include onDesctop {
      height: 460px;
      background-position: center bottom;
    }
  }

    &__container {
    @include contentPaddingInline;
  }


  &__content {
    display: grid;

    @include pageGrid;
    padding-bottom: 48px;
    gap: 24px;

  }

    &__title {
  font-size: 32px;
  line-height: 32px;
  grid-column: span 2;
  margin: 0;


    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesctop {
      grid-column: span 6;
    }
  }

  &__discription {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 140%;
    grid-column: span 2;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesctop {
      grid-column: 7 / -1;
    }

  }
}
