@use '../utils/mixin' as *;

.about-us {
  background-color: #FCFAEF;
  @include pageGrid;



  &__image {
    grid-column: 1 / -1;
    height: 200px;
    width: 100%;

    background-image: url(/src/images/image-about.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    margin-bottom: 48px;

    @include onTablet {
      height: 400px;
    }

    @include onDesctop {
      height: 460px;
    }

  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }


    @include onDesctop {
      grid-column: span 6;

    }
  }

  &__content {

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;

    }


    @include onDesctop {
      grid-column: span 6;

    }
  }

  &__discription {
    margin: 0;
    letter-spacing: 0.15px;
    line-height: 140%;
    margin-bottom: 48px;

  }
}
