@use '../utils/mixin' as *;
@use 'variables' as vars;


.contact-us {
  font-family: 'Menrope', sans-serif;

  &__content {
    @include pageGrid;
  }


  &__form {
    display: grid;
    grid-column: 1 / -1;
    gap: 16px;


    @include onTablet {
      grid-column: 1 / 7;
    }

    @include onDesctop {
      grid-column: 1 / 7;
    }

  }

  &__input,
  &__textarea {

    box-sizing: border-box;
    height: 48px;
    background: #f9f9f9;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    color: #111;
    transition: box-shadow 0.3s ease;
    border-color: 0.3s ease;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-left: 16px;
      color: #7e7e83;
    }

    &:focus {
      background: #fff;
      box-shadow: 0 0 0 2px #000 inset;
    }
  }

  &__textarea {
    height: 140px;
    resize: none;
  }

  &__button {
    margin-top: 32px;
    padding: 14px 0;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #000;
    }
  }

  &__infos {
    grid-column: span 2;

    @include onDesctop {
      grid-column: 8 / -1;
    }
  }

  &__info {
    margin: 0;
    &--title {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      padding-top: 24px;
      padding-bottom: 8px;
      color: #9393a3;
    }
    &--content {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
