@use '../utils/mixin' as *;

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(/src/images/icon/icon-burger-menu\ \(1\).png);
  background-size: cover;

  @include onTablet {
    height: 32px;
    width: 32px;
  }


  &--phone {
    background-image: url(/src/images/icon/icon-phone.png);
    }

  &--menu {
    background-image: url(/src/images/icon/icon-burger-menu\ \(1\).png);
    }

  &--close {
    background-image: url(/src/images/icon/icon-close.png);
    }
  }
