@use '../utils/mixin' as *;

.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 32px;
    gap: 32px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 8px;

    @include onDesctop {
    &:hover .top-bar__phone-number {
      opacity: 1;
      transform: translateX(-8px);
      display: block;
      transition: all 0.5s;
    }
    }
  }

  &__phone-number {
    font-family: inter, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(0);
    display: none;


  }




  &__logo {
    height: 16px;

    @include onTablet {
      height: 24px;
    }

   @include hover(transform, scale(1.2));
  }

  &__logo-link {
    display: flex;
  }

  &__icons {
    display: flex;
    gap: 24px;

  }
}
