.container {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  font-family: "Menrope", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
  color: #1b2129;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__body:has(.menu:target) {
  overflow: hidden;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.header {
  background-image: url(/src/images/image-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  font-family: "Menrope", sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 100%;
  font-size: 36px;
  color: #fff;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 56px;
  }
}
.header__bottom {
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 32px;
    gap: 32px;
  }
}
.top-bar__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1024px) {
  .top-bar__phone:hover .top-bar__phone-number {
    opacity: 1;
    transform: translateX(-8px);
    display: block;
    transition: all 0.5s;
  }
}
.top-bar__phone-number {
  font-family: inter, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  vertical-align: middle;
  opacity: 0;
  transform: translateX(0);
  display: none;
}
.top-bar__logo {
  height: 16px;
}
@media (min-width: 576px) {
  .top-bar__logo {
    height: 24px;
  }
}
.top-bar__logo {
  transition: transform 0.3s;
}
.top-bar__logo:hover {
  transform: scale(1.2);
}
.top-bar__logo-link {
  display: flex;
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
  font-weight: 700;
  font-family: "Menrope", sans-serif;
}
.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 48px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-family: "Menrope", sans-serif;
  font-weight: bold;
}
.nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -8px;
  height: 1px;
  width: 100%;
  background-color: #1b2129;
  transition: transform 0.3s;
  transform: scale(0);
}
.nav__link:hover::after {
  transform: scale(1);
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.menu__call-to-order {
  color: inherit;
  text-decoration: none;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: fit-content;
  padding-bottom: 4px;
  border-bottom: 1px solid #1b2129;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(/src/images/icon/icon-phone-call.svg);
}
.icon--menu {
  background-image: url(/src/images/icon/icon-burger-menu.svg);
}
.icon--menu:hover {
  background-image: url(/src/images/icon/icon-burger-menu-hover.svg);
}
.icon--close {
  background-image: url(/src/images/icon/icon-close.svg);
}

.section-title {
  font-family: "Menrope", sans-serif;
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  color: #1b2129;
}
@media (min-width: 576px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 48px;
    line-height: 48px;
  }
}

.main {
  background-color: #fff;
}
.main__content {
  padding-block: 64px;
}
@media (min-width: 576px) {
  .main__content {
    padding-block: 120px;
  }
}

.product__photo {
  width: 100%;
}
.product__title {
  color: #1b2129;
  font-family: "Menrope", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
}
.product__discription {
  color: #1b2129;
  font-family: "Menrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.product__price {
  font-family: "Menrope", sans-serif;
  color: #1b2129;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.recommended {
  margin-bottom: 96px;
}
@media (min-width: 576px) {
  .recommended {
    margin-bottom: 120px;
  }
}
.recommended__products {
  --colums: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--colums), 1fr);
}
@media (min-width: 576px) {
  .recommended__products {
    --colums: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .recommended__products {
    --colums: 12;
  }
}
.recommended__products {
  row-gap: 40px;
}
.recommended__product {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .recommended__product {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.about-us {
  font-family: "Menrope", sans-serif;
  background-color: #fcfaef;
  margin-bottom: 96px;
}
@media (min-width: 576px) {
  .about-us {
    margin-bottom: 120px;
  }
}
.about-us__image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 48px;
  display: block;
  aspect-ratio: 16/9;
  margin-bottom: 48px;
}
@media (min-width: 576px) {
  .about-us__image {
    height: 400px;
    margin-bottom: 120px;
  }
}
@media (min-width: 1024px) {
  .about-us__image {
    height: 460px;
    background-position: center bottom;
  }
}
.about-us__container {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .about-us__container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .about-us__container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}
.about-us__content {
  display: grid;
  --colums: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--colums), 1fr);
}
@media (min-width: 576px) {
  .about-us__content {
    --colums: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .about-us__content {
    --colums: 12;
  }
}
.about-us__content {
  padding-bottom: 48px;
  gap: 24px;
}
.about-us__title {
  font-size: 32px;
  line-height: 32px;
  grid-column: span 2;
  margin: 0;
}
@media (min-width: 576px) {
  .about-us__title {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .about-us__title {
    grid-column: span 6;
  }
}
.about-us__discription {
  color: #1b2129;
  font-family: "Menrope", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 140%;
  grid-column: span 2;
}
@media (min-width: 576px) {
  .about-us__discription {
    grid-column: 4/-1;
  }
}
@media (min-width: 1024px) {
  .about-us__discription {
    grid-column: 7/-1;
  }
}

.categories {
  margin-bottom: 96px;
}
@media (min-width: 576px) {
  .categories {
    margin-bottom: 120px;
  }
}
.categories__wrapper {
  display: grid;
  row-gap: 40px;
}
@media (min-width: 576px) {
  .categories__wrapper {
    row-gap: 56px;
  }
}
.categories__button {
  padding: 14px 0;
  background-color: #f98921;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}
.categories__button:hover {
  background-color: #1b2129;
  color: #fff;
}
.categories__button:active {
  background-color: #1b2129;
  color: #fff;
}

.category__photos {
  --colums: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--colums), 1fr);
}
@media (min-width: 576px) {
  .category__photos {
    --colums: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .category__photos {
    --colums: 12;
  }
}
.category__photos {
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .category__link {
    grid-column: span 3;
  }
}
@media (min-width: 1024px) {
  .category__link {
    grid-column: span 6;
  }
}
.category__photo {
  transition: transform 0.3s;
}
.category__photo:hover {
  transform: scale(1.2);
}
.category__photo {
  width: 100%;
  object-fit: cover;
}
.category__title {
  font-family: "Menrope", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  color: #1b2129;
}

.contact-us {
  font-family: "Menrope", sans-serif;
}
.contact-us__content {
  --colums: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--colums), 1fr);
}
@media (min-width: 576px) {
  .contact-us__content {
    --colums: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .contact-us__content {
    --colums: 12;
  }
}
.contact-us__form {
  display: grid;
  grid-column: 1/-1;
  gap: 16px;
  margin-bottom: 48px;
}
@media (min-width: 576px) {
  .contact-us__form {
    grid-column: 1/7;
    margin-bottom: 80px;
  }
}
@media (min-width: 1024px) {
  .contact-us__form {
    grid-column: 1/7;
  }
}
.contact-us__input, .contact-us__textarea {
  color: #7e7e83;
  font-family: "Menrope", sans-serif;
  padding-left: 16px;
  box-sizing: border-box;
  height: 48px;
  background: #f9f9f9;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease;
  border-color: 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}
.contact-us__input::placeholder, .contact-us__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7e7e83;
}
.contact-us__input:focus, .contact-us__textarea:focus {
  background: #fff;
  box-shadow: 0 0 0 2px #000 inset;
}
.contact-us__textarea {
  height: 140px;
  resize: none;
  padding-top: 14px;
}
.contact-us__button {
  margin-top: 32px;
  padding: 14px 0;
  background: #111;
  background-color: #f98921;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}
.contact-us__button:hover {
  background-color: #1b2129;
  color: #fff;
}
.contact-us__button:active {
  background-color: #1b2129;
  color: #fff;
}
.contact-us__infos {
  grid-column: span 2;
}
@media (min-width: 1024px) {
  .contact-us__infos {
    grid-column: 8/-1;
  }
}
.contact-us__infos--link {
  font-family: "Menrope", sans-serif;
  text-decoration: none;
  color: #191919;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.contact-us__info {
  margin: 0;
}
.contact-us__info--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 8px;
  color: #9393a3;
}
.contact-us__info--content {
  margin-bottom: 24px;
}

/*# sourceMappingURL=main.css.map */
